<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MATLAB_trader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <MATLAB_trader.Properties.Settings>
      <setting name="TradingOnBankingHoliday" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaitTimeBeforeEquityRequestInMs" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="PushPort" serializeAs="String">
        <value>5700</value>
      </setting>
      <setting name="DealerPort" serializeAs="String">
        <value>5556</value>
      </setting>
    </MATLAB_trader.Properties.Settings>
  </userSettings>
</configuration>