<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MATLAB_trader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <MATLAB_trader.Properties.Settings>
      <setting name="TradingOnBankingHoliday" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaitTimeBeforeEquityRequestInMs" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="PushPort" serializeAs="String">
        <value>5402</value>
      </setting>
      <setting name="DealerPort" serializeAs="String">
        <value>5401</value>
      </setting>
      <setting name="RealTimeDataServerRequestPort" serializeAs="String">
        <value>5556</value>
      </setting>
      <setting name="RealTimeDataServerPublishPort" serializeAs="String">
        <value>5557</value>
      </setting>
      <setting name="HistoricalServerPort" serializeAs="String">
        <value>5555</value>
      </setting>
      <setting name="MessagesServerPullPort" serializeAs="String">
        <value>5554</value>
      </setting>
      <setting name="MessagesServerPushPort" serializeAs="String">
        <value>5553</value>
      </setting>
      <setting name="EquityUpdateServerRouterPort" serializeAs="String">
        <value>5552</value>
      </setting>
      <setting name="ibPort" serializeAs="String">
        <value>4001</value>
      </setting>
      <setting name="AccountNumber" serializeAs="String">
        <value>DU15183</value>
      </setting>
      <setting name="host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="AccountID" serializeAs="String">
        <value>1006</value>
      </setting>
      <setting name="logDirectory" serializeAs="String">
        <value>C:\Logs\</value>
      </setting>
    </MATLAB_trader.Properties.Settings>
  </userSettings>
</configuration>